{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4 justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.user.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.createdAt|date("d.m.Y. h:i") }}</h6>
                    <p class="card-text">{{ post.content }}</p>
                    {% if app.user %}
                        <div class="text-left">
                            <a href="#" class="like-post" style="text-decoration:none;color: inherit;">
                                    <span style="color: #c20b0b;">
                                        <i id="likeHeart"
                                           class="fa{% if userLikesPost %}s{% else %}r{% endif %} fa-heart"></i>
                                    </span>
                                <span class="likes-count">{{ post.likes|length }}</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if canDelete %}
                        <div class="text-right">
                            <a href="{{ path('post_delete', {id: post.id}) }}"
                               class="btn btn-danger text-right">Delete</a>
                        </div>
                    {% endif %}
                    <hr>
                    {% for comment in post.comments %}
                        {% if comment %}
                            <div class="card mt-2">
                                <div class="card-body">
                                    <small>{{ comment.user.name }}({{ comment.createdAt|date("d.m.Y h:i:s") }})</small>
                                    <p class="cart-text">{{ comment.content }}</p>
                                    {% if app.user == comment.user or app.user == post.user %}
                                        <p class="card-text float-right">
                                            <a href="{{ path('comment_edit', {id: comment.id}) }}">Edit</a>
                                            <a href="{{ path('comment_delete', {id: comment.id}) }}">delete</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            {% if app.user %}
                <div class="row mt-4 justify-content-center">
                    <div class="col-6">
                        {{ form_start(commentForm, {'action':path('comment_create', {id: post.id})}) }}
                        {{ form_row(commentForm.content) }}
                        {{ form_row(commentForm.comment) }}
                        {{ form_rest(commentForm) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% if app.user %}
        <script>
            $(document).ready(function () {
                $('.like-post').click(function () {
                    $.ajax({
                        url: '{{ url('post_like') }}',
                        type: 'POST',
                        data: {
                            post: {{ post.id }}
                        },
                        success: function (response) {
                            if ($("#likeHeart").hasClass('far')) {
                                $("#likeHeart").removeClass('far').addClass('fas');
                            } else {
                                $("#likeHeart").removeClass('fas').addClass('far');
                            }
                            $(".likes-count").html(response.likes);
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock %}